html, body {
    margin: 0;
    padding: 0;
    text-align:center;
    font-family: Verdana, sans-serif; 

}
#colonne1{
        width : 50%;
         float : left;
}
#colonne2{
            width : 50%;
         float : right;
}
#colonnebas{
            width : 100%;
                text-align: center; 

}

title{
    font-size: 200%; 
    color: black;
    text-align: center; 
}

h1 {
    font-size: 300%; 
    color: black;  
    text-align: center;
}
h2 {
    font-size: 150%; 
    color: grey; 
    text-align: left;

}
.bouton{
    text-align:center;
}

p,ul,li {
    color: black; 
}
th {
    margin: 0;
  border: 1px solid gray;
  border-collapse: collapse; 
  border-spacing: 0;
  width: 80%;
  background-color: white;
  border: thin solid #6495ed; 
}
table, tr {
  margin: 0;
  border: 1px solid gray;
  border-collapse: collapse; 
  border-spacing: 0;
  width: 60%;
  background-color: #D0E3FA;
  border: thin solid #6495ed;
 

}
    

.parties{
    margin: 0;
    border: 1px solid gray; /* Pas de bordure = "none". */
    border-collapse: collapse; /* Valeur par défaut: "separate". */
    border-spacing: 0;
    width: 80%;
    padding: 4px; /* Pas de retrait autour du texte = "0". */
    border: 1px solid #ccc; /* Pas de bordure = "none". */
    vertical-align: top; /* Valeur par défaut: "middle" */
    width: 80%;
}
td {
    vertical-align:top;
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 25%;
    text-align: center;
    background-color: #D0E3FA;
}

form {
    background-color:#FAFAFA;
    padding:10px;
    width:280px;
}
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
}
legend {
    color:#DF3F3F;
    font-weight:bold
}
label {
    margin-top:10px;
    display:block;
}
label.inline {
    display:inline;
    margin-right:50px;
}
input, textarea, select, option {
    background-color:#FFF3F3;
}
input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
select {
    margin-top:10px;
}
input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
}
input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}



a:link {
    color: green;
    text-decoration: underline;
}
a:visited {
    color: gray;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active, a:focus {
    color: red;
}